# Module Federation Configuration
VITE_MODULE_FEDERATION_ENABLED=true

# Module 1 Configuration
VITE_MODULE1_IS_REMOTE=false
VITE_MODULE1_REMOTE_NAME=
VITE_MODULE1_REMOTE_ENTRY=

# Module 2 Configuration
VITE_MODULE2_IS_REMOTE=true
VITE_MODULE2_REMOTE_NAME=Module2
VITE_MODULE2_REMOTE_ENTRY=http://localhost:4202/module-2-entry.js

# Development Environment
NODE_ENV=development



